<!DOCTYPE html>
<html>
<a href="{{ url('images', {'page': 1}) }}"> Bacl to List </a>
{% if render_answer %}
    Image is {{ is_floor_plan ? '' : 'Not' }} Plan!
{% endif %}

<form action="{{ path('classify') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="image">
    <input type="submit" value="TRY!" name="submit">
</form>
</html>
